
*.obj
*.tlog
*.sdf
*.user
*.pdb
*.cache
*.suo
*.log
*.manifest
*.ilk
moc_*.cpp
ui_*.h
qrc_*.cpp
*.lastbuildstate
Win32/Release/DNATHmi.exe
Win32/Debug/DNATHmi.exe
*.res
*.ipch
*.opensdf
Win32/Release/配电网自动化终端管理工具.exe
